@charset "UTF-8";

* {
	margin: 0px auto;
	padding: 0px auto;
	box-sizing: border-box;
}

#title {
	width: 1920px;
	height: 108px;
	text-align: center;
	margin-top: 20px;
}

#title>a {
	font-size: 50px;
}

#menuF {
	position: absolute;
	left: 960px;
	top: 490px;
	transform: translateX(-55%) translateY(-50%);
	width: 1536px;
	height: 750px;
}

#category {
	width: 153.6px;
	height: 750px;
	float: left;
}

#content {
	border: 2px black solid;
	width: 1305.6px;
	height: 750px;
	float: left;
	border-left: 0px;
}

#detail {
	border: 2px black solid;
	width: 153.6px;
	height: 30px;
	text-align: center;
	border-top: 0px;
}

#card {
	border: 2px black solid;
	width: 250px;
	height: 250px;
	float: left;
	margin-top: 30px;
	margin-left: 30px;
}

#button {
	border: 0px black solid;
	width: 160px;
	height: 30px;
	float: center;
	text-align: center;
	margin-top: 15px;
	width: 160px;
}

#button1 {
	width: 25px;
	height: 25px;
	float: left;
}