@charset "UTF-8";

body{
    width: 1200px;
    margin: 0px auto;
    border: 0px solid black;
    overflow: hidden;
}

body > #title{
    border: 0px solid red;
    text-align: center;

    font-size: 50px;
}

body > #content{
    
    width: 1200px;
    height: 500px;
    
}

#btn_type{

  border: 0px solid red;

  margin-left: 1056px;
  margin-bottom: 20px;
  
  
}

#subject{
 
    height: 468px;
    border: 2px solid black;
    overflow: hidden;
}

#Restaurant_photo{
    width: 380px;
    height: 425px;
    border: 2px solid red;
    
    float: left;

    margin-left: 20px;
    margin-top: 20px;

    text-align: center;
    line-height: 400px;
}

#nav{
    width: 380px;
    height: 425px;
    border: 2px seagreen solid;
    float: left;

    margin-top: 20px;
}

#content > #subject > #nav > #rstitle > #restaurant_name{
    border: 2px solid black;

    margin-left: 10px;
    margin-right: 10px;

    text-align: center;
}

#content > #subject > #nav > #rstitle > #restaurant_introduction{
    
    height: 175px;
    
    border: 2px solid black;

    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

    text-align: center;
}

#content > #subject > #nav > #review{

    height: 175px;

    border: 2px solid black;

    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

    text-align: center;

    position: relative;
}

#content > #subject > #nav > #review > #review_title{

    position: absolute;
    top: -15px;
    left: 5px;
    height: 15px;
    width: 80px;
    background-color: white;
    border: 2px solid white;
    text-align: center;

}

#content > #subject > #nav > #review #teduri{
    width: 340px;
    height: 45px;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 8px;
    margin-left: 5px;
}


#kakaomap{
    width: 380px;
    height: 425px;
    border: 2px solid red;
    float: left;

    margin-top: 20px;

    text-align: center;
    line-height: 400px;

}